.board_body_product {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 250px - 200px);
  height: 100%;
}
.board_body_product a {
  width: 100%;
  height: 40px;
  text-decoration: none;
  color: #000;
}
.board_body_product a:hover {
  background-color: #eee;
}

.board_body_product .board_header {
  font-weight: bold;
}
.board_body_product .board_header,
.board_body_product .board_content {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 40px;
  padding: 0 100px 0 0;
}
.board_body_product .sub {
  width: 1px;
  text-align: center;
  white-space: nowrap;
}
