* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main .board .content {
  display: flex;
  flex-wrap: wrap;
}
.main .board .content .container {
  width: 50%;
  height: 50%;
  background-color: #fff;
}
